:root {
  --medium-purple: #9774CC;
  --royal-purple: #7F54C0;
}

.mainTitle {
  margin-bottom: 1.2rem;
}

.sectionBooksHeader {
  display: flex;
  flex-direction: row;

  align-items: center;
}

.sectionBooksHeader h2 {
  font-family: Lora;
}

.mainBook {
  display: flex;
  flex-direction: row;
}

.mainBook img {
  width: 15.5rem;
  height: 21.33rem;
}

.mainInfo {
  display: flex;
  flex-direction: column;

  margin-top: 2.4rem;
  margin-left: 1.6rem;
}

.mainBookContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mainBookHeader {
  margin: 0 0 .6rem 0;
}

.mainBookTitle {
  font-family: Lora;
  font-size: 1.8rem;
  font-weight: 600;
}

.mainBookAuthor {
  font-size: 1.68rem;
  font-weight: 500;
}

.mainBookReadButton {
  padding: .6rem;
  margin: 1.2rem 0 0 0;

  text-align: center;
  text-decoration: none;

  border-radius: .4rem;
  color: white;
  background: var(--medium-purple);
}

.mainBookReadButton:hover {
  background: var(--royal-purple);
  cursor: default;
}

.mainBookReadButton:active {
  background: var(--royal-purple);
}

.moreBooks {
  display: flex;
  flex-direction: row;

  overflow-x: auto;

  justify-content: space-between;
}

.moreBooks div {
  display: flex;
  flex-direction: column;

  width: 12.8rem;
  margin: 0 0 0 1.2rem;
}

.moreBooks img {
  width: 11.125rem;
  height: 16rem;
}

.moreBooks span {
  width: 12.8rem;
  margin: 0 0 1.2rem 0;
}

.moreBooks a {
  padding: .6rem;
  margin: 1.2rem 0 0 0;

  text-align: center;
  text-decoration: none;

  border-radius: .4rem;
  color: white;
  background: var(--medium-purple);
}

@media (min-width: 1000px) {
  .mainBookContainer {
    max-width: 22rem;
  }

  .moreBooks div {
    display: flex;
    flex-direction: column;
  
    margin: 0 0 0 3.2rem;
  }

  .mainBook img {
    width: 31rem;
    height: 42.66rem;
  }

  .moreBooks img {
    width: 13.35rem;
    height: 19.2rem;
  }
}
